# Misc
/app
/.ycm_extra_conf.py

# Test images
/*.jpg
/*.jpeg
/*.png
/*.webp

# Private configs
/streams.listfile

# Models
/models/
/*.onnx

# CMake
/.cache/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/compile_commands.json
/cmake_install.cmake
/*.o
/*.a
/*.so
