# Misc
app
.ycm_extra_conf.py
.DS_Store

# Test images
*.jpg
*.jpeg
*.png
*.webp

# Private configs
*.listfile
*.csv

# Models
models/
*.onnx

# CMake
.cache/
CMakeFiles/
CMakeCache.txt
Makefile
compile_commands.json
cmake_install.cmake
*.o
*.a
*.so
*.make
